<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045396">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">MembranaX</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045397">Android разработчик (Middle/Senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045138">Mid/Senior Java/Scala разработчик</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043920">JAVA программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Intis Telecom</td> 
     <td class="salary">От 1 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036108">Full-stack JavaScript developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033185">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045378">Старший инженер по тестированию (SAAS)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045363">Серверный Java-разработчик (Удаленно)</a></td> 
     <td class="city">Обнинск</td> 
     <td class="companyName">Arcanite LLC</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045356">Senior Java Developer (RnD)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045355">Java Team Lead (RnD)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045348">Разработчик Oracle PL\SQL, SQL</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КА "ВЛАСТЕЛИН"</td> 
     <td class="salary">От 152 000 до 172 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044470">Senior SW Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">avalon.tech</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038823">Developer BI systems Java/Go</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">2Reallife</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044926">Ведущий Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Payment Systems</td> 
     <td class="salary">От 180 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045337">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045336">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 190 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045322">Full Stack developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045318">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lending Solutions Group LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045315">Ведущий Программист С#/.NET/ASP.NET</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Virtoway</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045314">Разработчик Unity 3D</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">НТЦ "Инжетранс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045304">MOBILE DEVELOPER – Senior SW Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045310">Senior Web Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045299">PHP Developer / PHP разработчик ( middle / senior )</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Медицина</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045294">QA Automation engineer/ Тестировщик-автоматизатор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО "Промсвязьбанк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045293">Ведущий инженер по нагрузочному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО "Промсвязьбанк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045396">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">MembranaX</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045397">Android разработчик (Middle/Senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045138">Mid/Senior Java/Scala разработчик</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043920">JAVA программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Intis Telecom</td> 
     <td class="salary">От 1 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036108">Full-stack JavaScript developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033185">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045378">Старший инженер по тестированию (SAAS)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045363">Серверный Java-разработчик (Удаленно)</a></td> 
     <td class="city">Обнинск</td> 
     <td class="companyName">Arcanite LLC</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045356">Senior Java Developer (RnD)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045355">Java Team Lead (RnD)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045348">Разработчик Oracle PL\SQL, SQL</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КА "ВЛАСТЕЛИН"</td> 
     <td class="salary">От 152 000 до 172 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044470">Senior SW Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">avalon.tech</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038823">Developer BI systems Java/Go</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">2Reallife</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044926">Ведущий Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Payment Systems</td> 
     <td class="salary">От 180 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045337">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045336">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Джет Мани Микрофинанс</td> 
     <td class="salary">От 190 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045322">Full Stack developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045318">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lending Solutions Group LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045315">Ведущий Программист С#/.NET/ASP.NET</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Virtoway</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045314">Разработчик Unity 3D</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">НТЦ "Инжетранс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045304">MOBILE DEVELOPER – Senior SW Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045310">Senior Web Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045299">PHP Developer / PHP разработчик ( middle / senior )</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Медицина</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045294">QA Automation engineer/ Тестировщик-автоматизатор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО "Промсвязьбанк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045293">Ведущий инженер по нагрузочному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО "Промсвязьбанк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045292">Middle/Senior Android разработчик (удаленно, совмещение\парт\фулл)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TopInt</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045287">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ONDOC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042187">Android developer</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Blogman</td> 
     <td class="salary">От 20 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042022">Java Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045263">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Anizoptera Dev</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043611">Backend Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">КУРС</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045260">Аналитик/Менеджер проекта</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wallet One</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044352">Senior QA Automation Engineer (Android)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Jibrel Network</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045252">Java Team Lead</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028185">Scala/Java программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Waves Platform</td> 
     <td class="salary">До 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041408">QA automation (RnD)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043256">Blockchain разработчик (C++/python/java)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032013">Разработчик Android/Руководитель группы мобильной разработки</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042462">Fullstack developer (Python/React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032825">Разработчик/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">НТЦ "Вулкан"</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045220">Software Development Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mentor Graphics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045216">Разработчик React Native</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">От 70 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045213">PHP Developer / PHP-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АдсПро Медиа</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043972">Senior Android Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">GetPure Inc</td> 
     <td class="salary">От 3 000 до 3 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045208">Разработчик Fullstack с React/Angular</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">Inreco LAN</td> 
     <td class="salary">От 30 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043016">Тестировщик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045202">iOS / Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Азбука Вкуса</td> 
     <td class="salary">От 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045194">Специалист по автоматизированному тестированию - Selenium (проект 8 месяцев)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039346">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">НТЦ "Вулкан"</td> 
     <td class="salary">От 125 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043582">Старший java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Antal</td> 
     <td class="salary">От 150 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045184">Ищем Full Stack Mobile Dev. Frontend - React Native; Backend - Laravel</a></td> 
     <td class="city"></td> 
     <td class="companyName">ICVR Interactive</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044078">Senior Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plazius</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035444">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plazius</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045180">разработчик Android developer ( программист java / kotlin )</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Порядок Цифр</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043199">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041352">Ведущий Программист С#/.NET/ASP.NET</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Virtoway</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045160">Middle/Senior PHP-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Unitpay</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033447">Backend (Java/Groovy) разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SKB LAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034005">Backend-разработчик</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Sveak</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045150">Системный администратор / веб-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ГК ИСТА</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045147">Backend-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Rick.ai</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045148">Fullstack-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Rick.ai</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044156">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SMEKALKA</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034736">QA engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044176">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045130">React Native / React.JS программист удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045052">Java Senior</a></td> 
     <td class="city"></td> 
     <td class="companyName">Digital Zone</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045122">РАЗРАБОТЧИК SQL (BI СИСТЕМЫ И ИНТЕГРАЦИИ)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043193">Ведущий разработчик Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 90 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045102">Senior Java Developer/ Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034528">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045103">Senior Software Engineer / Java, Customer Success Team</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045104">Software Java Developer In Test</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045105">Senior Software Engineer / Database Engine</a></td> 
     <td class="city"></td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045078">Swift / IOS Разработчик (remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">SYNAPS Workspaces</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044727">Software Engineering Manager</a></td> 
     <td class="city"></td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">От 8 000 до 8 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044729">Vice President of Software Engineering</a></td> 
     <td class="city"></td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">От 16 000 до 16 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045055">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">УК "Помощь"</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044977">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8BIT GROUP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045042">Разработчик PHP в ADFOX</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045038">Senior Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AIFactory.app</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040352">Testing Engineer Windows (Москва, офис)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045018">Разработчик C# ASP.NET Core</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Транснефтьэнерго</td> 
     <td class="salary">От 135 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043389">PHP/JS разработчик (Senior, Middle)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038592">Software Developer (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk</td> 
     <td class="salary">До 185 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043276">QA engineer (Python or Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">От 44 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037995">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП Ласилкин СИ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044990">Front End Leader</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Aman Group</td> 
     <td class="salary">От 150 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044974">QA автоматизатор (Trust &amp; Safety)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044970">Senior DevOps Engineer (m/f)</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">SO1</td> 
     <td class="salary">От 50 000 до 70 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044968">Android-разработчик (Buyer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043899">Java-разработчик (шина ESB)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Азбука Вкуса</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044895">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044026">Программист Unity 3D</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Alternativa Games</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039616">Backend-разработчик (Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Тэсонэро Компьютерс</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044947">Senior Frontend Developer at OneClass</a></td> 
     <td class="city"></td> 
     <td class="companyName">OneClass</td> 
     <td class="salary">От 100 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042381">Node.js Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040630">Back-End Web Developer (Python)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044916">DevOps Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tropicent Incorporated</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044912">Java разработчик (Full Stack)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Московский Кредитный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044031">Senior Frontend Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039725">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042382">Front-end JavaScript Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044893">Android application developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">SWTecNN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044885">Mobile Developer</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Digital Design</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043042">Senior Frontend Developer (React)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042438">Старший инженер по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044879">Разработчик Android</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Napoleon it</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043823">Android разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">Amigoweb</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043978">Senior QA Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Acme Crypto Corp</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041718">Senior Mobile Developer: iOS</a></td> 
     <td class="city"></td> 
     <td class="companyName">Makeomatic</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043612">Билд-инженер (build engineer)</a></td> 
     <td class="city"></td> 
     <td class="companyName">КУРС</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044838">Fullstack разработчик с уклоном в FrontEnd</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary">От 130 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044832">QA Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Банк Санкт-Петербург</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044831">JavaScript developer (Angular)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Банк Санкт-Петербург</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044730">QA engineer / Тестировщик ПО</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Умный полис</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044816">Full Stack Java Developer</a></td> 
     <td class="city">Брест</td> 
     <td class="companyName">Wisent Media</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044819">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044798">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ресо - Гарантия</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044793">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Alpari</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044787">Менеджер по автоматизированному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041277">Python developer — Cloud Services</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ivideon</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044767">Middle/Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Yota Technologies</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044761">Бизнес-аналитик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044762">Devops</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044763">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044764">QA микросервисов</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044738">⚡️ Инженер архитектор веб приложений 🙂</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SKILLARY</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044749">Intern backend developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Infotech Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042341">Data Team Developer (PHP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043836">Senior java developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035652">QA / Специалист по тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044735">Java developer (medlle/ senior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РТСофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044722">Game Server Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044717">Senior Mobile Developer: Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">Makeomatic</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>